<%= stylesheet_link_tag "ch_top", :media => "all" %>
<div class="top_body">
<div class="backimg">
    <img src="/images/topback1.jpg" class="top_back1" width="100%" height="121%">
    <img src="/images/topback2.jpg" class="top_back2" width="100%" height="121%">
    <img src="/images/topback3.jpg" class="top_back3" width="100%" height="121%">
    <img src="/images/topback4.jpg" class="top_back4" width="100%" height="121%">
</div>
    <div class="top_container">
        <p class="top_disc">ロックの歴史をさかのぼると黒人霊歌にたどりつきます。黒人霊歌は黒人奴隷たちから生まれた音楽です。奴隷生活での苦しみからの解放を歌ったもので、これをベースにブルースが生まれます。ブルースからそのリズムを変化させてうまれたのがジャズです。ジャズはバンドで演奏されることが多く、その奏者はほとんどが黒人でした。そして、バンド演奏の中でブルースのリズムを早くして、演奏するスタイルが生まれてきます。リズム＆ブルース（R&B）です。第二次大戦後、アメリカでは仕事を求めて都市部に大量の人が流れ込み、それと同時に地方の文化や音楽も都市部で広がっていきます。ブルースやジャズ、R＆Bといった主に南部の黒人の音楽であったものがラジオやレコードを通して都市部に多くの人に届けられました。そして、黒人の音楽にふれ、その魅力にひきつけられる人が出てきます。それまで白人向けではなかった音楽に白人たちが興味を示したのです。そして1955年、ビル・ヘイリーが「ロック・アラウンド・ザ・クロック」をヒットさせます。この曲はそれまで、黒人の間で人気だった音楽を白人が歌ったことでヒットし、ロックというスタイルを世界に広める役割を果たしました。</p>
        <div class="typ">
         <span>Introducing the rock band</span>
        </div>
        <div class="top_icon">
          <div class="CHECK">
            <%= link_to new_check_path,data: {"turbolinks" => false}, method: :get do %>
              <span>C</span>
              <span>H</span>
              <span>E</span>
              <span>C</span>
              <span>K</span>
            <% end %>
          </div>
          ↓
          <%= link_to new_check_path,data: {"turbolinks" => false}, method: :get do %>
            <br><i class="fas fa-compact-disc fa-4x"></i>
          <% end %>
        </div>
    </div>
</div>
<div class="top_history">
  <div class="history_header">
    <span>GENRE</span>
  </div>

  <h1 class="his_title">オルタナティブロック</h1>
  <div class="box fadeIn">
        <div class="his_dis">
          <br>主に1980年くらいからアメリカを中心にブームとなった音楽スタイル。鋭くノイジーなアップテンポのサウンドと攻撃的ながら陰鬱とした歌詞が特徴的。当時、アメリカではAORやポップ、ハードロックなどがビルボードでもヒットしていたが、これらに反発するような形で台頭してきたロックである。1987年にアメリカで結成されたビッグバンド'NIRVANA'が有名。
          <p>主なアーティスト</p>
          <p><span>NIRVANA,RADIOHEAD , R.E.M , DINOSAUR Jr. , PIXIES , Weezer ... </span></p>
          <iframe width="560" height="315" class="youtube" src="https://www.youtube.com/embed/hTWKbfoikeg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
  </div>

  <h1 class="his_title">パンクロック</h1>
  <div class="box fadeIn">
      <div class="his_dis">
        <br>パンクロックはニューヨークやロンドンで大流行して世界に広まった、反抗心を原動力として生まれたロックの一種。キャッチーなメロディーやコードが特徴で、当時人々が抱いていた政治的・社会的な主張を、音楽にのせて演奏したのが始まりである。1960年代後半に現れたハードロックやプログレッシブロックはイギリスやアメリカで商業的に大成功をおさめ、アルバムは爆発的に売れコンサートの規模はどんどん拡大していった。演奏の技術も高まり、憧れの対象となるようなミュージシャンも多数出現した。また1970年代にイギリスで始まったグラムロックはきらびやかで魅惑的なルックスから、ハードやプログレとは違ったファンを獲得し大人気となった。しかしテクニック重視で大衆には楽しみづらいロックとなってしまい、一部のロックファンから不信感を抱かれていた。そんなロックの流れに馴染みきなかった人々が、ロックンロールが本来持っていた勢いと世俗的な主義主張を押し出すようにして演奏し始めたのがパンクロックである。パンクロックの楽曲の歌詞には、主義や主張が含まれているものが多い。
        <p>主なアーティスト</p>
        <p><span>The Ramones , The Stooges , Patti Smith , Sex pistols , The Damned , The Clash ... </span></p>
        <iframe width="560" height="315" class="youtube" src="https://www.youtube.com/embed/vVy9Lgpg1m8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  </div>
  <h1 class="his_title">ハードロック</h1>
  <div class="box fadeIn">
      <div class="his_dis">
          <br>ハードロックとは、端的に言えば「激しいロック」。重低音を重視した大音量サウンド、主にギター音に歪みを持たせた激しく強い縦ノリ・・・これらの要素を強く含むロックの総称と言える。ハードロックの魅力は、血も騒ぎ出すような強いリズム感。
          <p>主なアーティスト</p>
          <p><span>Led Zeppelin , Black Sabbath , Jimi Hendrix , AC/DC , Van Halen , Guns N' Roses , Aerosmith , Queen ... </span></p>
          <iframe width="560" height="315" class="youtube" src="https://www.youtube.com/embed/pAgnJDJN4VA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
  </div>
  <h1 class="his_title">プログレッシブロック</h1>
  <div class="box fadeIn">
      <div class="his_dis">
          <br>プログレは実験的、革命的なロックである。プログレッシブロックは1960年代後半に流行したサイケデリックロックから影響を受けて生まれた。サイケデリックロックとはドラッグによって引き起こされる幻覚を音で表現した音楽で、既存の価値観にとらわれない実験的な試みの数々がプログレッシブロックを生み出したと言える。特徴は7拍子や11拍子などの変拍子や拍子が変化する複合拍子で演奏されたり、一曲が10分を越えるような長い楽曲である。演奏するにはかなりのテクニックを必要とし、聞くのにも知識や経験が必要となる。そのため難しい音楽だと思われているのも事実。しかし、難解な楽曲を難無く演奏しているミュージシャンたちの実力は本物で、それも含めてプログレッシブロックの魅力と言える。
          <p>主なアーティスト</p>
          <p><span>Pink Floyd , KING CRIMSON , YES , GENESIS ... </span></p>
          <iframe width="560" height="315" class="youtube" src="https://www.youtube.com/embed/-0kcet4aPpQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
  </div>
  <div class="his_footer">
  <span>ガレージ・サーフ・サザン・グランジ・グラム・カントリー・フォーク and more...</span>
  </div>
</div>
