/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
    margin: 0;
    padding: 0;
}

body{
  width:100%;
  position:relative;
    z-index:-10;
}

header{
    position:fixed;
}
header p{
    position:absolute;
    left:70px;
    top:-10px;
    color:rgba(233, 233, 233,0.9);
    font-family: 'Shadows Into Light', cursive;
}
.drawer-hidden {
    display: none;
}
  
.drawer-open {
    height: 65px;
    width: 65px;
    position: relative;
    top:40px;
    left:10px;
    z-index: 1000;
    cursor: pointer;
    margin:10px auto;
    border-radius: 15px;
    transition: all 0.3s cubic-bezier(0,0,1,-0.6) 0.2s;
}
.drawer-open span:hover{
    transition: all 0.2s;
    transform: rotate(4deg);
}
  
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
    content: '';
    display: block;
    height: 6px;
    border-radius: 2px;
    background: rgb(237, 237, 237);
    transition: all 0.32s ease;
    position: absolute;
}
.drawer-open span{
    width: 20px;
}
  
.drawer-open span:before {
    bottom: 15px;
    width:30px;
}
  
.drawer-open span:after {
    top: 15px;
    width:38px;
}
  
#drawer-check:checked ~ .drawer-open span {
    background: rgba(255, 255, 255, 0);
}

 #drawer-check:checked ~ .drawer-open span::before {
    bottom: 0;
    transform: rotate(225deg);
    width:30px;
    background-color:rgb(77, 77, 77);
}
  
  #drawer-check:checked ~ .drawer-open span::after {
    top: 0;
    transform: rotate(-225deg);
    width:30px;
    background-color:rgb(77, 77, 77);
}
    
.drawer-content {
    width: 100%;
    height: 0%;
    text-align: center;
    margin: 0 auto;
    position: fixed;
    top: 0;  
    z-index: 100;
    background-image: url("../images/menu1.jpg");
    background-color:rgba(255,255,255,0.9);
    background-size: cover;
    background-blend-mode:lighten;
    transition: all ease 0.26s;
    overflow-y: scroll;  
}
.drawer-content::-webkit-scrollbar{
    width:8px;
}
.drawer-content::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color:rgba(222, 222, 222, 0.9);
}
.drawer-content::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color:rgba(198, 198, 198, 0.9);
}

#drawer-check:checked ~ .drawer-content {
    top: 0%;
    height:100%;
    transition: all ease 0.26s;
}
#drawer-check:checked ~ .drawer-open {
    transition: all 0.3s ease;
}
  
.drawer-list{
    list-style: none;
    padding-top:100px;
}
  
.drawer-item a{
    display: block;
    color:rgb(80, 80, 80);
    text-decoration: none;
    font-size: 24px;
    margin-bottom:8px;
    padding:15px 10px 15px 40px;
    margin:0px auto;
    text-align: center;
    width:20%;
    font-weight:bold;
    transition: all ease 0.5s;
}
  
.drawer-item a:hover {
    letter-spacing: 5px;
    transition: all ease 0.5s;
    transform: translate(-2px,-5px);
}

.link_tomy{
  background-color: blue;
  font-size: 10px;
}

footer{
  height:100%;
  color:rgba(235, 235, 235, 0.8);
  background-color: rgb(11, 11, 11);
}

.footer_container{
  width:100%;
  height:70px;
  background-color: aquamarine;
}

.footer_content{
  width:80%;
  margin:0 auto;
  background-color: blue;
}
.drawer-item0 a{
    animation:itema 1.6s ease backwards;
}
.drawer-item1 a{
    animation:itema 1.6s ease backwards 0.08s;
}
.drawer-item2 a{
    animation:itema 1.6s ease backwards 0.16s;
}
.drawer-item3 a{
    animation:itema 1.6s ease backwards 0.24s;
}
.drawer-item4 a{
    animation:itema 1.6s ease backwards 0.32s;
}
.drawer-item5 a{
    animation:itema 1.6s ease backwards 0.4s;
}
.drawer-item6 a{
    animation:itema 1.6s ease backwards 0.48s;
}
@keyframes itema {
    0% {
       opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width:480px) {
    
    .drawer-item{
        margin-right:40px;
    }
    
    .drawer-item a{
        width:100%;
        font-size: 20px;
        padding:15px 0px;
    }
    header p{
        left:60px;
    }
}
