/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
    margin: 0;
    padding: 0;
}

body{
  width:100%;
  position:relative;
    z-index:-10;
}

header{
    position:fixed;
    left:48%;
}
.drawer-hidden {
    display: none;
}
  
.drawer-open {
    display: flex;
    height: 55px;
    width: 55px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1000;
    cursor: pointer;
    margin:10px auto;
    background-color: rgba(140, 140, 140, 0.5);
    border-radius: 15px;
}
  
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
    content: '';
    display: block;
    height: 5px;
    width: 30px;
    border-radius: 3px;
    background: rgba(255, 255, 255,0.9);
    transition: all 0.32s ease;
    position: absolute;
}
  
.drawer-open span:before {
    bottom: 10px;
}
  
.drawer-open span:after {
    top: 10px;
}
  
#drawer-check:checked ~ .drawer-open span {
    background: rgba(255, 255, 255, 0);
}
  
 #drawer-check:checked ~ .drawer-open span::before {
    bottom: 0;
    transform: rotate(225deg);
}
  
  #drawer-check:checked ~ .drawer-open span::after {
    top: 0;
    transform: rotate(-225deg);
}
    
.drawer-content {
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 100;
    background: rgba(247, 246, 246, 0.9);
    transition:all .4s cubic-bezier(0,0,1,-0.6);
}

.drawer-content::-webkit-scrollbar{
    width:8px;
}
.drawer-content::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color:rgba(222, 222, 222, 0.9);
}
.drawer-content::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color:rgba(198, 198, 198, 0.9);
}

#drawer-check:checked ~ .drawer-content {
    right: 75%;
    transition:all 0.4s cubic-bezier(0,1.3,1,1.1);
}
  
.drawer-list{
    list-style: none;
}
  
.drawer-item a{
    display: block;
    color:rgb(7, 7, 7);
    text-decoration: none;
    font-size: 24px;
    margin-bottom:8px;
    padding:15px 10px 15px 40px;
    margin:0px auto;
    text-align: center;
    border-bottom:1px solid rgb(155, 155, 155);
}
  
.drawer-item a:hover {
    color: rgb(255, 255, 255);
    position: relative; 
}

.drawer-item a:hover::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color:rgba(0, 0, 0, 0.6);
    animation: bg_slide 0.5s ease-out;
}
  @keyframes bg_slide {
    0% {
        transform-origin:center  ;
        transform: scaleY(0);
        transform: scaleX(0);
        transform: perspective(1000px) rotateX(0deg);
    }
    
    100% {
        transform-origin: center ;
        transform: scaleY(1.0);
        transform: scaleX(1.0);
        transform: perspective(1000px) rotateX(180deg); 
    }   
}

.link_tomy{
  background-color: blue;
  font-size: 10px;
}

footer{
  height:100%;
  color:rgba(235, 235, 235, 0.8);
  background-color: rgb(11, 11, 11);
}

.footer_container{
  width:100%;
  height:70px;
  background-color: aquamarine;
}

.footer_content{
  width:80%;
  margin:0 auto;
  background-color: blue;
}

@media screen and (max-width:480px) {
    header{
        left:44%;
    }
}
