.main{
    padding-top:100px;
    min-height:100vh;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../images/mainback1.jpg");
    background-size:cover;
    background-blend-mode:darken;
    padding-bottom:50px;
    position:relative;
    z-index:-1;
    
}

.main-container{
    padding-top:10px;
}

.at_header{
    text-align:center;
    color:white;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 4px;
    font-size:30px;
}

.content{
    width:100%;
    height:100%;
}

.artists-container{
    padding:20px 0px;
    width:80%;
    margin:20px auto;
    border-radius: 20px;
    background-color: rgba(232, 232, 232, 0.8);
    display: flex;
    flex-wrap: wrap;
}
.artists{
    display: inline-block;
    margin-left:10px;
    margin-top:10px;
    text-align:center;
    flex-basis: 24%;
}

.artists a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-family: 'Noto Serif JP', serif;
    font-family: 'Shadows Into Light', cursive;
    font-size:20px;
}

.artists a:hover{
    color:rgb(255, 255, 255);
}

.images{
    border:1px solid black;
}
.images:hover{
    opacity: 0.7;
    transition: all ease 0.4s;
}

.button{
    border: 10px solid rgb(8, 215, 94);
    padding: 10px 40px;
    background-color: brown;
}

.mouse {
    display: inline-block;
    position:relative;
    z-index: 1;
  }

.allimages::after,
.allimages::before,
.outborder::after,
.outborder::before {
  
  content: '';
  display: block;
  position: absolute;
  z-index:10;
  transition: all .3s ease;
  -webkit-transition: all .4s ease;
  border-radius:10px;
}
/* 右下へ配置 */
.allimages::after {
  width: 0;
  height: 2px;
  background-color: rgb(255, 255, 255);
  right:0;
  bottom:0px;
  
}
/* 左上へ配置 */
.allimages::before {
  width: 0px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  left:1px;
  top:-1px;
  }
/* 左下へ配置 */
.outborder::after {
  width: 2px;
  height: 0px;
  background-color: rgb(255, 255, 255);
  left:0px;
  bottom:0px;
  
}
/* 右上へ配置 */
.outborder::before {
  width: 2px;
  height: 0px;
  background-color:rgb(255, 255, 255);
  right:-1px;
  top:-1px;
}

.allimages:hover::before,
.allimages:hover::after {
width: 99%;
width: calc(99% + 1px);
}
.allimages:hover .outborder::after,
.allimages:hover .outborder::before {
height: 90%;
height: calc(100% + 1px);
}

.star1{
    color:rgb(255, 255, 0);
}
.star2{
    color:rgb(255, 255, 255);
}
.star1:active{
    transition: all 0.18s ease;
    transform:scale(1.6);
}
.star2:active{
    transition: all 0.18s ease;
    transform:scale(1.6);
}

.search-btn{
    display: inline-block;
    border-radius:5px;
    padding:3px 5px;
    background-color: rgba(211, 211, 211, 1);
    margin-top:5px;
}

.search-btn:hover{
    background-color: rgb(255, 255, 255);
    transition:all ease-in 0.2s;
}

.search_content{
    display: block;
    width:20%;
    margin: 0 auto;
    
    background-color: rgba(167, 167, 167, 0.6);
    border-radius: 10px;
    padding:10px 0px 10px 60px;
}

.search_header{
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 5px;
    color:white;
    width:20%;
    margin:0 auto;
    font-size:20px;
}

.search_ge{
    font-size:20px;
    color:white;
    margin:7px 0px;
    font-family: 'Shadows Into Light', cursive;
}

.search_field{
    border-radius: 5px;
    margin-top: 5px;
    width:70%;
}

.search_genre{
    width:50%;
}

.fa-headphones{
    color:rgba(152, 0, 0, 0.8);
    margin:0px 10px;
    animation: headphones 4.6s normal infinite ease-out;
}
@keyframes headphones {
    0% {
       transform:rotateY(0)
    }
    80%{
        transform:rotateY(0)
    }
    100% {
        transform:  rotateY(720deg)
        
    }
}

@media screen and (max-width:480px) {
    .at_header{
        text-align:center;
        color:white;
        font-family: 'Shadows Into Light', cursive;
        letter-spacing: 4px;
        font-size:20px;
    }
    .search_content{
        display: block;
        width:60%;
        margin: 0 auto;
        
        background-color: rgba(167, 167, 167, 0.6);
        border-radius: 10px;
        padding:10px 0px 10px 60px;
    }
    
    .search_header{
        text-align: center;
        font-family: 'Shadows Into Light', cursive;
        letter-spacing: 5px;
        color:white;
        width:100%;
        margin:0 auto;
        font-size:20px;
    }
    .artists-container{
        width:90%;
    }

    .artists{
        margin-left:10px;
    }
    .allimages{
        margin-left:5px;
    }
    .images{
        width:160px;
        height:160px;
    }
    .artists a{
        font-size:16px;
    }
    
}
