.new_field{
    width:50%;
    background-color:rgba(255, 255, 255, 0.8);
    margin:0px auto;
    text-align:center;
    border-radius:30px;
    padding:20px 0px;
    margin-bottom:55px;
    overflow: hidden;
    min-width:28em;
}

.new_title{
    display:block;
    padding:5px 5px;
    text-align: center;
    color:white;
    font-size:20px;
    text-shadow: 2px 2px 2px #a9a9a9;
}

.new_field li{
    color:rgb(0, 0, 0);
    list-style: none;
}

.submit-btn{
    margin-top:30px;
    display: inline-block;
    font-size:15px;
    width: 100px;
    height: 40px;
    border:1px solid black;
    border-radius:8px;
    box-shadow: 0px 5px black;
    background-color: rgba(255, 255, 255, 0.6);
}

.submit-btn:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
}

.submit-btn:active{
    box-shadow: none;
    position:relative;
    top:5px;
}

.new_detail{
    font-size:25px;
    margin-top:15px;
    margin-right: 40px;
}

.new_text{
    border-radius:5px;
    padding:4px 0px;
    width:80%;
    margin-right: 40px;
}
.img_post{
    display: none;
}

.artist_new{
    animation: artists_top 0.6s ease-in-out;
}

.img_post{
    text-align: center;
    width:40%;
}

.CHECK3 {
    perspective: 1000px;
}

.CHECK3 span {
    display: inline-block;
    margin: 0 .15em;
    transform-origin: 50% 50% ;
    transform-style: preserve-3d;
    animation: CHECK3 3.8s 1 0.6s;
    font-size:34px;
    color:rgba(255, 255, 255,0.9);
}
  @keyframes CHECK3 {
    0% {
      transform: rotateX(-360deg);
    }
    70% {
      transform: rotateX(0);
    }
  }
.post_preview{
    width:270px;
    height:270px;
    background-color: rgb(255, 255, 255);
    margin:0 auto;
    border:1px solid rgb(87, 87, 87);
    position:relative;
    cursor: pointer;
}
.post_preview:hover{
    background-color: rgb(238, 238, 238);
    transition:all .3s ease;
}
.post_pre1{
    position:relative;
    z-index:10;
    cursor: pointer;
}
.post_preview::before{
    content: "";
    width: 50px;
    height: 6px;
    position: absolute;
    top:132px;
    left: 110px;
    background-color: rgb(193, 193, 193);
    border-radius: 10px;
}
.post_preview::after{
    content: "";
    width: 50px;
    height: 6px;
    position: absolute;
    top:132px;
    left: 110px;
    background-color: rgb(193, 193, 193);
    border-radius: 10px;
    transform: rotate(90deg);
}
.post_preview1{
    width:100px;
    height: 100px;
    background-color: blueviolet;
    display: flex;
}

@media screen and (max-width:480px) {
    .new_field{
        width:85%;
        min-width: 85%;
    }
    .new_field li{
        width:90%;
    }
    .new_detail{
        margin-right: 0px;
    }
    .new_text{
       width:100%;
       margin-right:0px;
    }
    .bt-area a {
        width:80%;
      }
    .at_start_post{
        padding-left:24px;
    }
    .post_preview{
        right:20px;
    }
    
}
