.top_body{
    min-height:121vh;
    width:100%;
    height:100%;
    background-size:cover;
    background-blend-mode:darken;
    position:relative;
    z-index:-1;
}

.top_container{
    width:80%;
    max-height: 100%;
    margin: 0 auto;
    color:rgba(255, 255, 255,0.9);
    text-align:center;
    position:absolute;
    top:100px;
    left:10vw;
    right:10vw;
    z-index:-1;

}

.top_disc{
    height:100%;
    color:rgba(255, 255, 255,1);
    font-size:15px;
    margin-top:120px;
    transform: translate3d(0,0,0);
    animation: top_des 5s ease normal;
    text-shadow: 2px 2px 2px #262626;
}
@keyframes top_des {
    0% {
      -webkit-opacity: 0;
    }
    100% {
        
      -webkit-opacity: 1;
    }
  }

.fa-compact-disc{
  height:100%;
    color:rgb(131, 131, 131);
    will-change: animation;
    animation: disc 3.5s infinite linear;
}
@keyframes disc {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.top_icon{
    text-align:center;
    animation: top_icon 6s ease ;
    animation-direction: normal;
    display: inline-block;
}
@keyframes top_icon {
    0% {
     opacity: 0;
     visibility: hidden;
    }
    50% {
        opacity: 0;
        visibility: hidden;
       }
    100% {
        opacity: 1;
        visibility: visible;
    }
  }

.fa-compact-disc:hover{
    color:rgb(255, 255, 255);
    transition:all ease-in-out 0.3s;
}

.CHECK {
    perspective: 1000px;
    text-shadow: 2px 2px 2px #000000;
}

.CHECK span {
    display: inline-block;
    margin: 0 .15em;
    transform-origin: 50% 50% ;
    transform-style: preserve-3d;
    will-change: animation;
    animation: CHECK 3.8s infinite;
    font-size:30px;
    color:rgba(255, 255, 255,0.9);
}

.CHECK span:nth-child(1) {
    animation-delay: .5s;
}
.CHECK span:nth-child(2) {
    animation-delay: .6s;
}
.CHECK span:nth-child(3) {
    animation-delay: .7s;
}
.CHECK span:nth-child(4) {
    animation-delay: .8s;
}
.CHECK span:nth-child(5) {
    animation-delay: .9s;
}
  @keyframes CHECK {
    0% {
      transform: rotateX(-360deg);
    }
    70% {
      transform: rotateX(0);
    }
  }

.CHECK a{
    text-decoration: none;
    font-family: 'Shadows Into Light', cursive;
}

.typ {
    width: 100%;
    height: 100%;
    margin: 10px auto;
    text-shadow: 2px 2px 2px #000000;
  }
  .typ span {
    font-family: 'Shadows Into Light', cursive;
    display: inline-block;
    color:rgba(255, 255, 255,0.9);
    width: 31ch;
    font-size:40px;
    overflow: hidden;
    white-space:nowrap;
    font-weight: 200;
    border-right: 4px solid transparent;
    transform: translate3d(0,0,0);
    animation: typing 3s steps(23), caret 0.3s steps(1) infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }
  @keyframes caret {
    50% {
      border-right-color: currentColor;
    }
  }

  .backimg{
    width:100%;
    height:100vh;
    position:relative;
    z-index:-9;
  }

.backimg::before{
  content: ' ';
  width:100%;
  height: 121%;
  position: absolute;
  z-index:10;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0,0.4);
}

.top_back1{
  width: 100%;
  object-fit: cover;
  animation: back1 20s infinite ease-in;
  position: absolute;
  top:0;
  z-index:1;
}
.top_back2{
  width: 100%;
  object-fit: cover;
  position: absolute;
  top:0;
  visibility: hidden;
  animation: back2 20s infinite ease;
}
.top_back3{
  width: 100%;
  object-fit: cover;
  position: absolute;
  top:0;
  visibility: hidden;
  animation: back3 20s infinite ease;
}
.top_back4{
  width: 100%;
  object-fit: cover;
  position: absolute;
  top:0;
  visibility: hidden;
  animation: back4 20s infinite ease;
}

@keyframes back1 {
  0% {
    opacity: 0.5;
    visibility: visible;
  }
  3% {
    opacity: 0.6;
    visibility: visible;
  }
  22% {
    opacity: 0.6;
    visibility: visible;
  }
  25% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility:hidden;
  }
}

@keyframes back2 {
  0% {
    opacity: 0;
    visibility:hidden;
  }
  22% {
    opacity: 0;
    visibility:hidden;
  }
  25% {
    opacity: 0.6;
    visibility:visible;
  }
  47% {
    opacity: 0.6;
    visibility:visible;
  }
  50% {
    opacity: 0;
    visibility:hidden;
  }
  100% {
    opacity: 0;
    visibility:hidden;
  }
}
@keyframes back3 {
    0% {
      opacity: 0;
      visibility:hidden;
    }
    47% {
      opacity: 0;
      visibility:hidden;
    }
    50% {
      opacity: 0.6;
      visibility:visible;
    }
    72% {
      opacity: 0.6;
      visibility:visible;
    }
    75% {
      opacity: 0;
      visibility:hidden;
    }
  100% {
    opacity: 0;
    visibility:hidden;
  }
}
@keyframes back4 {
    0% {
      opacity: 0;
      visibility:hidden;
    }
    72% {
      opacity: 0;
      visibility:hidden;
    }
    75% {
      opacity: 0.6;
      visibility:visible;
    }
    98% {
      opacity: 0.6;
    visibility:visible;
    }
  100% {
    opacity: 0.5;
    visibility:visible;
  }
}

.top_history{
  background-color: rgb(255, 246, 232);
  position: relative;
  z-index: -3;
  background-image: url("/images/top_back11.jpg");
  background-size: cover;
  width:100%;
}
.top_history::before{
  content: ' ';
  width:100%;
  height: 100%;
  position: absolute;
  z-index:-2;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0,0.4);
}

.history_header{
  width:40%;
  height:100%;
  margin:0 auto;
  text-align: center;
  font-size: 50px;
  font-family: 'Shadows Into Light', cursive;
  color:rgba(223, 223, 223,0.9);
  padding-top:50px;
  letter-spacing: 5px;
}

.his_title{
  width:50%;
  height:100%;
  margin:0 auto;
  text-align: center;
  margin-top:50px;
  background-color: rgba(199, 199, 199, 0.9);
  border-radius: 10px;
  margin-bottom:20px;
}
.his_dis{
  width:80%;
  margin:0 auto;
  text-align:center;
  color:rgba(216, 216, 216,0.9);
}
.his_dis p{
  font-size:20px;
}
.his_dis span{
  color:white;
  text-shadow: 2px 2px 2px #9c4646;
}

.fadeIn {
  transition: 1s;
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  padding-bottom:100px;
}

.fadeIn.animated {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.youtube{
  border-radius: 10px;
  width:50%;
  border:1px solid rgba(216, 216, 216,0.7);
}

.his_footer{
  color:rgba(216, 216, 216,0.9);
  font-size:20px;
  width:90%;
  text-align:center;
  margin:0 auto;
  padding-bottom:100px;
}

