.user_mypage{
    margin:0 auto;
    text-align: center;
    color:white;
    padding-top:10px;
}

.user_mypage h1{
    font-family: 'Shadows Into Light', cursive;
    font-size:50px;
}

.user_title p{
    font-family: 'Shadows Into Light', cursive;
    font-size:24px;
    margin-top:10px;
}

.user_mypage h2{
    margin-top:50px;
}

.user_info{
    width:30%;
    margin:0 auto;
    border-radius:5px;
    background-color: rgba(232, 232, 232, 0.8);
    color:black;
    padding:10px 0px;

}

.user_show{
    border-radius:10px;
    border:1px solid rgb(70, 70, 70);
}

.user_show:hover{
    opacity:0.6;
    transition:all 0.3s;
}

.myartists{
    display: inline;
    margin-left:10px;
    margin-top:10px;
    text-align:center;
    flex-basis: 13%;
}

.user_check{
   
    margin:0 auto;
    color:rgb(0, 0, 0);
    font-family: 'Shadows Into Light', cursive;
    background-color: lawngreen;
}
.user_check:hover{
    color:white;
}

.user_render{
    padding-top:40px;
}

.CHECK2 {
    perspective: 1000px;
}

.CHECK2 span {
    display: inline-block;
    margin: 0 .15em;
    transform-origin: 50% 50% ;
    transform-style: preserve-3d;
    animation: CHECK2 3.8s 1;
    font-size:34px;
    color:rgba(255, 255, 255,0.9);
}

.CHECK2 span:nth-child(1) {
    animation-delay: .5s;
}
.CHECK2 span:nth-child(2) {
    animation-delay: .6s;
}
.CHECK2 span:nth-child(3) {
    animation-delay: .7s;
}
.CHECK2 span:nth-child(4) {
    animation-delay: .8s;
}
.CHECK2 span:nth-child(5) {
    animation-delay: .9s;
}
.CHECK2 span:nth-child(6) {
    animation-delay: 1s;
}
  @keyframes CHECK2 {
    0% {
      transform: rotateX(-360deg);
    }
    70% {
      transform: rotateX(0);
    }
  }

  .at_start{
    width: 14ch;
    display: inline-block;
    overflow: hidden;
    white-space:nowrap;
    color:white;
    font-family: 'Shadows Into Light', cursive;
    font-size:50px;
    text-shadow: 2px 2px 2px #000000;
    animation: typing 1s steps(8),at_st2 2.2s ease;
    position:absolute;
    z-index:10;
    top:43vh;
    left:44%;
    visibility: hidden;
    letter-spacing: 5px;
    height:20vh;
}
@keyframes at_st2{
    0%{
        visibility: visible;
        opacity: 1;
    }
    70%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

.user_content::before{
    width:100vw;
    height:100%;
    content:'';
    position:absolute;
    z-index:9;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(255, 255, 255, 0.4);
    animation: at_back 2.4s normal ease;
    visibility: hidden;
}
@keyframes at_back{
    0%{
        visibility: visible;
        opacity: 1;
    }
    65%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}


@media screen and (max-width:480px) {
    .at_start{
        width: 14ch;
        font-size:30px;
        position:absolute;
        z-index:10;
        top:43vh;
        left:35%;
    }
    .user_info{
        width:80%;
    }
}
